<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Chapter 3 | Tribus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <img src="./assets/img/chapter3.jpg">
<p> Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent ultricies eleifend arcu, vitae dignissim nunc tempor sit amet. Fusce ac nunc aliquam, placerat ante ac, blandit est. Phasellus fringilla porttitor enim, tincidunt auctor purus. Donec ac urna dignissim, mollis tellus eget, rhoncus erat. Vivamus rutrum a dolor a pretium. Morbi sed tortor in mi luctus tristique ut ut enim.

  Etiam ante magna, varius a sapien vel, varius vestibulum ante. Aenean tellus orci, pellentesque at velit congue, facilisis laoreet sapien. Nunc tincidunt dolor quis tortor efficitur congue. Aliquam vel ligula at sem pellentesque condimentum. Ut posuere fermentum molestie. Duis suscipit consectetur urna, quis tincidunt odio suscipit ac. Etiam id nulla id nibh iaculis scelerisque. Aenean ac mi elit. Donec faucibus, orci ut ultricies pellentesque, mauris lorem ornare augue, ut fermentum velit ligula nec urna. Nullam vitae vulputate erat. Phasellus eleifend sodales felis cursus sodales. Maecenas nunc enim, sollicitudin sed diam ut, bibendum laoreet lorem. Proin imperdiet sodales risus, in hendrerit nisi venenatis ut. In lobortis est non est porttitor dapibus.
  
  In ac tellus sapien. Suspendisse at sollicitudin erat. Aliquam vel nulla vestibulum, vehicula ipsum sit amet, laoreet lacus. In faucibus, lorem tempor vulputate condimentum, augue risus rutrum dui, at pharetra est tellus a sapien. Vestibulum suscipit libero a interdum ornare. Suspendisse eu sapien aliquam, pharetra erat ut, ultrices augue. Etiam sapien metus, lobortis ut tempus ac, euismod nec mi. Curabitur eu facilisis dolor.
  
  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque condimentum sollicitudin ligula ac viverra. Vestibulum mauris ligula, convallis efficitur varius sed, finibus eu mi. Etiam sit amet porttitor eros, non venenatis eros. Maecenas sed ornare arcu. Curabitur facilisis dolor ac nisl auctor, non elementum eros iaculis. Praesent bibendum bibendum lorem at pharetra. Donec iaculis libero vitae ex condimentum iaculis. Donec nisi est, tempor et urna at, tempor tincidunt lorem.
  
  Vivamus sit amet posuere risus. Duis tincidunt orci a arcu elementum, non feugiat massa venenatis. Vivamus est libero, iaculis eu turpis vitae, dapibus fringilla est. Sed ut tortor ornare tortor condimentum pulvinar. Duis scelerisque hendrerit quam, id aliquam neque sollicitudin vel. Curabitur eleifend eget est vel porta. Vestibulum vulputate nibh et cursus consectetur. Sed semper mi nisl, ut consequat justo iaculis sit amet. Nulla facilisi. Vivamus ultricies feugiat nisi at condimentum. Morbi risus magna, ultricies vitae velit sed, dapibus tristique felis. Quisque diam massa, auctor ac dolor eu, tempor tincidunt erat. Quisque condimentum, neque id vulputate cursus, sapien ligula auctor neque, ullamcorper aliquam arcu augue eu leo.
  
  Cras eleifend, est eget varius egestas, leo nunc aliquet enim, et egestas arcu lacus sed magna. Praesent nec leo augue. Fusce at lacus a sem vulputate fermentum. Sed nibh odio, tempus at sollicitudin ut, malesuada in sem. Sed commodo ex id felis sollicitudin tincidunt. Quisque hendrerit tellus vel augue vulputate, in accumsan diam pellentesque. Phasellus volutpat at neque eu mollis. Fusce ornare sem et hendrerit sodales. Donec at odio dignissim, fringilla nunc at, mollis mi. Mauris tempus, ligula at accumsan egestas, neque metus congue velit, eget ornare lacus sapien non dolor. Suspendisse placerat et dui nec pulvinar. Cras nec ullamcorper enim, eu accumsan nunc. Vestibulum tincidunt ut risus at elementum. Nullam volutpat dictum est, et congue urna tincidunt a. Suspendisse at tempor odio, ultricies ullamcorper velit. Pellentesque eget volutpat justo.
  
  Vivamus ultricies, metus at egestas feugiat, risus elit hendrerit nisl, vitae posuere arcu nulla a justo. Mauris finibus ullamcorper libero, non auctor lacus semper eget. Praesent sed est eu ex sollicitudin cursus. Morbi et turpis et risus laoreet fringilla. Aliquam ultricies laoreet arcu vitae finibus. Integer quis nulla sed turpis maximus imperdiet et interdum metus. Nam tristique efficitur metus eget porttitor.
</p>
<ion-button color="light" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter4']">Next Page</ion-button>
<ion-button color="medium" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter2']">Previous Page</ion-button>

</ion-content>
