<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Chapter 5 | Terminus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <img src="./assets/img/chapter5.jpg">
<p>  Donec placerat volutpat tellus vitae egestas. In erat justo, vulputate quis lorem id, lobortis condimentum lacus. Integer mollis sapien a eros suscipit, sit amet condimentum felis mattis. Suspendisse vel lectus efficitur, imperdiet nibh sit amet, lobortis ante. Maecenas fringilla, nulla mattis tempor vulputate, metus nulla malesuada ante, quis ultricies ante metus at augue. Praesent nec rhoncus enim, ut vestibulum ipsum. Curabitur finibus lectus at neque sagittis, et viverra massa lacinia. Maecenas nisl ex, euismod sed quam nec, laoreet rhoncus magna. Donec metus nisl, feugiat malesuada dictum eget, aliquam non elit. Suspendisse auctor tincidunt magna eget venenatis. Ut id tempus elit.

  Suspendisse sed lorem massa. Vivamus ac elit purus. Duis vestibulum in quam nec faucibus. Fusce id mattis sem, ut luctus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam vestibulum mi quis metus bibendum, sed egestas orci dapibus. Vivamus arcu elit, aliquet vitae viverra sit amet, suscipit eget leo. Mauris accumsan, enim molestie laoreet posuere, felis odio sagittis est, et pharetra sapien magna vitae est. Proin elit tellus, maximus in tempus vitae, tempus quis nunc. Aenean congue gravida neque a consequat. Nam rutrum vitae sem sed imperdiet. Duis consectetur interdum quam, in dapibus sem consequat eu. Nulla orci justo, auctor a sem vel, aliquam maximus quam. Nullam nisl felis, finibus sit amet finibus eget, mattis ut mi. Nullam ac quam ut nunc suscipit dignissim. In hac habitasse platea dictumst.
  
  Phasellus bibendum lorem eget erat venenatis, ut gravida odio faucibus. Quisque consectetur nisl mi, eget condimentum eros convallis eu. Ut at feugiat diam. Curabitur luctus blandit posuere. Cras a ligula eu lacus eleifend placerat eget sed augue. Morbi vel sollicitudin orci. Maecenas feugiat sem non risus pellentesque, in lacinia sapien finibus. Aenean sagittis, nibh in placerat rhoncus, ligula nibh lobortis eros, quis fringilla lorem neque sit amet turpis. Proin tincidunt semper sem, non vulputate ipsum cursus ut. Maecenas magna arcu, tincidunt in euismod sit amet, tristique quis elit. Sed facilisis ornare odio, viverra porttitor velit malesuada eu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur feugiat nibh vel dui suscipit, in rhoncus tortor placerat.
</p>

<ion-button color="medium" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter4']">Previous Page</ion-button>

</ion-content>
