<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Chapter 2 | Secundus
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  
  <img src="./assets/img/chapter2.jpg">
<p>  Ut vel lacinia sem. Integer ut ex id lacus pretium hendrerit. Vivamus interdum, quam id fringilla pretium, est felis laoreet ante, mattis varius quam ex id ex. Donec pellentesque lectus viverra augue accumsan, ut dignissim nisi fringilla. Donec suscipit ipsum sit amet arcu fermentum, et dapibus urna accumsan. Sed semper erat risus, et scelerisque dui congue eget. Pellentesque a consequat erat, non vestibulum diam. Mauris ante nibh, euismod semper lobortis at, ultrices et purus. Nullam tristique nunc id lorem condimentum aliquam. Duis sed leo vehicula, bibendum tellus at, luctus turpis. Suspendisse potenti. Etiam in dapibus enim. Phasellus porttitor magna id hendrerit laoreet.

  Sed nibh ligula, consequat et euismod ut, mollis a ante. Sed non nulla in dolor placerat convallis vel non ex. Praesent at volutpat quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam non nulla et ipsum gravida gravida. Ut ac porta mauris, eu sagittis risus. Curabitur nec tellus mauris. Aliquam vel purus pellentesque, ullamcorper diam eget, luctus urna. Pellentesque tristique eget lacus elementum faucibus. Nulla luctus, risus a rutrum bibendum, sem erat ultrices ipsum, ut rutrum mi sapien nec leo. Quisque sed diam sit amet magna imperdiet suscipit. Morbi convallis nisl risus, eget viverra enim cursus id.
  
  Maecenas id arcu sed velit euismod dignissim a sit amet erat. Donec ac enim in magna tincidunt dictum. Nullam at facilisis erat. Phasellus hendrerit sit amet nisl porttitor faucibus. Donec porta tortor nec bibendum ultrices. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis a commodo urna. Mauris malesuada nisi dolor. Quisque gravida ex enim, eu commodo tellus tempor ut. Nullam malesuada accumsan ante ac dapibus.
  
  Etiam vulputate in eros id placerat. Vestibulum at maximus risus. Maecenas porttitor est nec ex dictum, quis ultricies neque mattis. Donec rutrum cursus ante sed luctus. Proin ut facilisis arcu. Suspendisse efficitur mauris quis magna dapibus, nec imperdiet orci suscipit. Aliquam hendrerit convallis arcu a vehicula. Praesent quis vehicula sapien. Vestibulum volutpat, lectus id sodales fringilla, urna neque pretium urna, vel molestie eros massa sed mi.
</p>
<ion-button color="light" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter3']">Next Page</ion-button>
<ion-button color="medium" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter1']">Previous Page</ion-button>

</ion-content>
