<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Chapter 1 | Principium
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  
  <img src="./assets/img/chapter1.jpg">

<p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at venenatis diam. Vestibulum ullamcorper ante erat, et auctor magna posuere ut. In hac habitasse platea dictumst. Morbi eu eleifend dolor. Nulla porttitor dui ex, at sagittis neque accumsan pulvinar. Praesent ac dui augue. Mauris rhoncus sit amet odio eu vulputate. Pellentesque faucibus nisl tellus, quis eleifend tortor dignissim vel. Cras sed sapien sed felis ultrices interdum. Mauris molestie velit quis tempor placerat. Morbi varius justo nisl. Nullam sollicitudin nibh nunc, sit amet dictum leo aliquam et. Cras ex turpis, suscipit ut congue sit amet, aliquet id felis. Cras in felis imperdiet, venenatis turpis dignissim, hendrerit nibh. Integer lacinia lacus nec elit luctus egestas.

  Integer pulvinar, ipsum sit amet ultrices placerat, ipsum justo interdum risus, dignissim vehicula magna lectus vitae felis. In eget posuere nulla. Mauris lacinia mauris at orci aliquet aliquam. Integer non tortor mauris. Etiam lacus sapien, volutpat vitae dictum eget, vehicula et metus. In euismod laoreet orci non tincidunt. Donec elit neque, auctor sit amet felis sed, consectetur sagittis magna. In hac habitasse platea dictumst. Sed lectus velit, venenatis eget iaculis eget, sollicitudin eu sem. Integer vitae fringilla nunc. Quisque erat odio, laoreet nec diam a, iaculis scelerisque erat. Pellentesque nisi metus, auctor id luctus at, efficitur at quam. Pellentesque dapibus ligula at lectus accumsan, quis lobortis sapien efficitur. Sed ultrices velit quam, nec scelerisque ex iaculis vitae. Curabitur eget tortor elementum magna placerat ornare ac quis orci.
  
  Duis sed hendrerit neque. Donec non quam sem. Pellentesque consequat eget metus eget varius. Ut vel tristique augue. In vitae ex maximus, blandit mi in, elementum dolor. Vestibulum cursus sed turpis ut eleifend. Aliquam rutrum, lorem vel aliquet suscipit, lectus risus mollis nisl, eget sodales metus erat vitae ipsum. Phasellus quis metus ut odio ornare mattis. Maecenas eget porta odio.
  
  Phasellus accumsan sit amet leo vel eleifend. Mauris blandit venenatis sodales. Nam pellentesque dictum risus placerat dapibus. Phasellus tristique nulla turpis, eget interdum tellus aliquet quis. Aliquam vitae tortor in ante sagittis tincidunt. Nullam a dui aliquam, hendrerit nunc eget, imperdiet lorem. Sed sodales, quam sed luctus dictum, mauris metus fermentum diam, sit amet euismod leo sem in quam. Sed eleifend venenatis urna vel finibus. Nullam imperdiet lacus quis viverra consectetur. Donec fringilla ultrices sem eget tristique. Praesent fringilla in tortor et faucibus. Integer tincidunt tellus a erat convallis, sed eleifend nisl vehicula.
  
  Pellentesque posuere, sem at pretium feugiat, tortor libero interdum magna, sed euismod lectus sapien sed nunc. Suspendisse auctor, dui ultrices ornare dictum, diam lorem lacinia quam, vel iaculis nisi ligula at velit. Proin in felis purus. Donec non accumsan nibh. Sed ac feugiat enim, sed rutrum leo. Suspendisse justo orci, malesuada sed risus et, condimentum porta quam. Morbi rhoncus sit amet turpis a elementum. Nunc sapien metus, ullamcorper vel volutpat scelerisque, vehicula sed enim. Nunc eu tempor lorem, vitae efficitur erat. Nunc sagittis malesuada enim sit amet malesuada. Ut dignissim eros eu justo convallis blandit. Pellentesque porttitor ut lorem quis porta.
  
  Ut sit amet metus eget mi sollicitudin tristique non convallis sapien. Aliquam elementum ultricies aliquet. Donec sollicitudin odio ac elit scelerisque ullamcorper. Nunc aliquet placerat diam ac cursus. Aliquam fermentum fermentum molestie. Nam nec lacinia risus, a mattis nisi. Suspendisse potenti. Quisque non dolor mollis, cursus dolor eget, ullamcorper nunc. Sed tempus purus vel molestie bibendum.
  
  Aliquam pharetra tempor magna, et tincidunt nisl malesuada vitae. Etiam eu justo volutpat, venenatis dolor in, placerat ante. Nam lacinia imperdiet ligula, a bibendum leo tincidunt vitae. Nunc porttitor vehicula augue ornare maximus. Duis a feugiat ante. Pellentesque porta dui mi, ac semper sem auctor id. Vivamus ornare bibendum diam, ac fringilla felis pulvinar ut. In porta aliquet mauris non varius. Donec quis eros est.
</p>
<ion-button color="light" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter2']">Next Page</ion-button>


</ion-content>
